# ignore all files not explicily included
*
!/Cargo.toml
!/Cargo.lock
!/cargo-geiger/Cargo.toml
!/cargo-geiger/src/
!/cargo-geiger-serde/Cargo.toml
!/cargo-geiger-serde/src/
!/geiger/Cargo.toml
!/geiger/src/
